# Ignore generated directories and files
**.vagrant/
**.box

# Ignore system files
.DS_Store

# Ignore IDEs files
.idea/

# Ignore configuration files that may contain sensitive information
vagrant/database/